.c-card {
  background: white;
  border-radius: 8px;
  padding: rem(20);
  box-shadow: 1px 2px 8px #ccc;
  &.no-radius {
    border-radius: 0px;
  }

  &.minus {
    box-shadow: 1px 2px 8px #ccc6;
    padding: rem(0);
  }

  &.fixed-height {
    height: rem(400);
  }

  &.hover {
    &:hover {
      box-shadow: 4px 2px 8px #ddd;
    }
  }

  &.pointer {
    cursor: pointer;
  }
}
