.c-gallery {
  width: 100%;
  height: rem(270);
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  display: none;

  &.show {
    display: block;
  }

  img {
    margin-top: rem(-100);
    width: 100%;
  }
}
