.o-text {
  font-size: rem(14);
  font-weight: $fw-regular;
  line-height: 1.3;
  margin: 0;

  &.bold {
    font-weight: $fw-bold;
  }

  &.medium {
    font-weight: $fw-medium;
  }

  &.semi-bold {
    font-weight: $fw-semi-bold;
  }

  &.smaller {
    font-size: rem(11);
  }

  &.small {
    font-size: rem(12);
  }

  &.large {
    font-size: rem(16);
  }

  &.huge {
    font-size: rem(18);
  }

  &.gigant {
    font-size: rem(20);
  }

  &.xl {
    font-size: rem(24);
  }

  &.right {
    float: right;
  }

  &.left {
    float: left;
  }

  &.center {
    margin: 0 auto;
    text-align: center;
  }
}
